<div class="tree-posts">

    <h3> P o s t s </h3>

    {% for post in site.posts %}
    
    <article role="article" class="post-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <div class="content">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
            </a>
        </div>
    </article>

    {% endfor %}

</div>
