.comments
    center(rem(800px))
    padding 0 rem(20px)
    h3
        margin 0 0 rem(30px)
        font-size rem(30px)

footer
    background main
    padding rem(25px) 0
    margin-top 100px
    clear both
    p
        mainFont(300)
        color sec
        text-align center
        margin 0

.footericon
  #cthulhu
      color #006400
      background-repeat no-repeat
      background-size contain
      background  url('../img/cthulhu.gif')
