---
layout: compress
---

<!DOCTYPE html>
<html lang="de">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-default.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include scripts.html %}
    </body>
</html>
